[Unit]
Description=Compute Blade PWM fan control
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/usr/bin/python3 /home/vinicius.palma/.config/nix-config/home/fan/fan_control.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
